
button{
  all:unset;
  font-weight:400;
  color: var(--blue-medium);
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  cursor:pointer;

    &.btn-primary {
        background-color: #1e90ff;
        color: #ffffff;
        &:hover,
        &:focus{
          background-color: #1c86ee;
          box-shadow: 0 4px 12px rgba(30, 144, 255, 0.3);

      }
    }
    &.btn-secondary{
        
        margin-left:auto;
        border: 1px solid var(--blue-medium);

        &:hover,
        &:focus{
          color: var(--blue-medium);
          outline: .25rem solid lightblue;
        }
      }
}

.upload-btn {
  background-color: #1e90ff;
  color: white;
    
    &:hover {
      background-color: #0077dd;
    }

}
.remove-btn {
  background-color: transparent;
  color: #dc3545;
  border: 1px solid #dc3545;
  display: none; 

    &:hover {
      background-color: #dc3545;
      color: white;
    }
    
}

.toggle-btn {
  background-color: #848689;
  color: white;
  margin-left: auto; 

    &:hover {
      background-color: #5a6268;
      color: white;
    }

}

.file-feedback {
  flex: 1 1 100%;
  font-size: 0.8rem;
  color: var(--text-);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.4rem;
}

.file-feedback span::before {
  content: "✓";
  margin-right: 0.3rem;
  color: green;
  font-weight: bold;
}